.main__bandas {
/*     flex-grow: 100%; */
    width: 800px;
    &__bandas-titulo {
      font-size: 25px;
      padding: 40px;
    }
    &__bandas-lista {
      padding: 40px;
    }
    &__bandas-imagen {
      width: 700px;
    }
    &__bandas-multimedia {
      padding: 40px;
      margin-left: 140px;
    }
  }
  
  
  