.main__bandas {
    width: 800px;
  }
  
  .main__bandas-titulo {
    font-size: 25px;
    padding: 40px;
  }
  .main__bandas-lista {
    padding: 40px;
  }
  .main__bandas-imagen {
    width: 700px;
  }
  .main__bandas-multimedia {
    padding: 40px;
    margin-left: 140px;
  }