.main__contacto-titulo {
    font-size: 45px;
    padding: 40px;
  }
  .main__contacto-formulario {
    padding: 40px;
    margin-left: 150px;
  }
  .main__contacto-formulario-nombre {
    padding: 40px;
  }
  .main__contacto-formulario-telefono {
    padding: 40px;
  }
  .main__contacto-formulario-mail {
    padding: 40px;
  }
  @media (max-with) {
  }