.main {
  width: 100%;

  min-height: 100vh;
  &__contacto-titulo {
    font-size: 45px;
    padding: 40px;
  }

  &__contacto-formulario {
    padding: 40px;
    margin-left: 150px;

    &-formulario-nombre {
      padding: 40px;
    }

    &-formulario-telefono {
      padding: 40px;
    }

    &-formulario-mail {
      padding: 40px;
    }
  }
}

 