.main__galeria {
    padding: 40px;
    margin-left: 360px;
    margin-bottom: 50px;
    &__galeria-titulo {
      margin-left: 30px;
      padding: 40px;
      font-size: 50px;
    }
    &__galeria-subtitulo {
      padding: 40px;
      margin-left: 50px;
    }
  }
  