.main__galeria {
    padding: 40px;
    margin-left: 360px;
    margin-bottom: 50px;
  }
  .main__galeria-titulo {
    padding: 40px;
    font-size: 50px;
  }
  .main__galeria-subtitulo {
    padding: 40px;
    margin-left: 50px;
  }