 .main {
  min-height: 100vh;
   &__pasos-image {
     text-align: center;

     &_banda {
       width: 50%;
       height: 50%;
       position: relative;
       background-color: grey;
       margin: 10px;
       padding: 10px;
       box-sizing: border-box;
     }

   }

   &__pasos-reg {
     font-weight: bold;
     padding: 30px;
   }

   &__pasos {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;

     &-paso1 {
       background-color: black;
       color: white;
       padding: 30px;
       animation-name: animacionpasos;
       animation-duration: 5s;
       animation-iteration-count: infinite;
     }
   }

   &__novedades {
     /*  border: 3px solid black; */
     padding: 40px;

     &-texto {
       display: grid;
       grid-template-columns: 2, 1fr;
     }
   }

   &__bandasdestacadas-titulo {
     padding: 40px;

   }

   &__bandasdestacadas {
     &-titulo-multimedia {
       padding: 30px;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       column-gap: 5px;
       justify-items: center;
       align-items: center;
       justify-content: space-around;

     }

     &-image {
       width: 530px;

     }

   }
  }
   @keyframes animacionpasos {
     0% {
       background-color: black;
       color: white;
     }

     100% {
       background-color: darkslateblue;
       color: black;
     }
   }


   @media (max-width: 942px) {
     .main__pasos-paso1 {
       padding: 10px;
     }
   }

   @media (max-width: 822px) {
     .main__pasos-paso1 {
       padding: 0px;
     }
   }

   @media (max-width: 764px) {
     .main__pasos-flex {
       display: none;
     }
   }

   @media (max-width: 1110px) {
     .main__bandasdestacadas-titulo-multimedia {
       display: grid;
       grid-template-columns: 1fr;
     }
   }

   @media (max-width: 592px) {
     .main__bandasdestacadas-titulo-multimedia {
       display: none;
     }
   }