.main__sobresag {
    padding: 40px;
  }
  .main__sobresag-titulo {
    padding: 40px;
  }
  .main__sobresag-texto {
    display: block;
    width: 100%;
    padding-top: 70px;
    padding-left: 140px;
  }
  
  