.main__sobresag {
    padding: 40px;
  }
  .main__sobresag-titulo {
    padding: 40px;
  }
  .main__sobresag-texto {
    display: block;
    width: 1500px;
    height: 300px;
    padding-top: 70px;
    padding-left: 140px;
  }
  .main__sobresag-multimedia {
    padding-bottom: 50px;
    margin-left: 250px;
  }
  