* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.styletodo{
    margin: 0%;
    background-color: darkgrey;
    border: 3px solid black;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}


.a{
    text-decoration: none;
}
.ul{
list-style-type: none;
}
.li {
    list-style-type: none;
  }
